.btn-ctv {
  color: #ffffff;
  background-color: #474949;
  border-color: #474949;
}

.btn-ctv:hover,
.btn-ctv:focus,
.btn-ctv:active,
.btn-ctv.active {
  background-color: #357ebd;
  border-color: #3071a9;
}

.btn-ctv.disabled,
.btn-ctv[disabled],
fieldset[disabled] .btn-ctv,
.btn-ctv.disabled:hover,
.btn-ctv[disabled]:hover,
fieldset[disabled] .btn-ctv:hover,
.btn-ctv.disabled:focus,
.btn-ctv[disabled]:focus,
fieldset[disabled] .btn-ctv:focus,
.btn-ctv.disabled:active,
.btn-ctv[disabled]:active,
fieldset[disabled] .btn-ctv:active,
.btn-ctv.disabled.active,
.btn-ctv[disabled].active,
fieldset[disabled] .btn-ctv.active {
  background-color: #428bca;
  border-color: #428bca;
}


.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #357ebd;
  border-color: #3071a9;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #428bca;
}